h2{
    color:orange;
}

body{
    background-color: rgb(84, 120, 108);
    color: white;
    font-family: 'Times New Roman';
    text-align: center;
}

header{
    border-bottom:1px solid white;
}

footer{
    border-top: 1px solid white;
}

#nome-usuário{
    font-weight: bold;
}

.texto-inglês{
    font-style: italic;
}